@import './mixins';

// color
.text-gray,
.btn-outline-secondary {
  color: $grayColor !important;
}

// background
.btn-gray,
.bg-gray,
.btn-outline-gray:hover {
  background-color: $grayColor !important;
}

// border
.btn-gray,
.border-gray,
.btn-outline-gray {
  border-color: $grayColor !important;
}

// primary color
.text-primary,
.btn-outline-primary {
  color: $primaryColor !important;
}

.btn-primary,
.bg-primary,
.btn-outline-primary:hover {
  background-color: $primaryColor !important;
}

.btn-primary,
.border-primary,
.btn-outline-primary {
  border-color: $primaryColor !important;
}

// secondary color
.text-secondary,
.btn-outline-secondary {
  color: $secondaryColor !important;
}

.btn-secondary,
.bg-secondary,
.btn-outline-secondary:hover {
  background-color: $secondaryColor !important;
}

.btn-secondary,
.border-secondary,
.btn-outline-secondary {
  border-color: $secondaryColor !important;
}

//
//
// btn color
.btn-gray,
.btn-primary,
.btn-secondary,
.btn-outline-secondary {
  color: #fff !important;
}
