$themefont: 'Lato', sans-serif;
$themefont2: 'Economica', sans-serif;

$lblueColor: #21548f;
$blueColor: #294075;
$skyColor: #85bcd8;
$dgrayColor: #383d45;
$grayColor: #d6d8d8;
$headerheight: 75px;

$primaryColor: $blueColor;
$secondaryColor: $skyColor;
