@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,560;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$themefont: 'Exo 2', sans-serif;
$themefont2: 'Lato', sans-serif;

$lblueColor: #21548f;
$blueColor: #294075;
$skyColor: #85bcd8;
$dgrayColor: #383d45;
$grayColor: #d6d8d8;
$headerheight: 75px;

$primaryColor: $lblueColor;
$secondaryColor: $dgrayColor;
